.DS_Store
bin/
build/
gen/
obj/
dist/
javadoc/
cppdoc/
Debug/
Release/
ipch/
logs/
doxygen/debug.txt
**/.idea/workspace.xml
**/.idea/tasks.xml
*.log
*.py[cod]
*.aps
*.suo
*.sdf
*.opensdf
*.xcworkspace
*.vcxproj.user
xcuserdata
libgame.so
